In [34]:
import pandas as pd
import numpy as np
import glob
all_data = pd.DataFrame()
for f in glob.glob(r"C:\Everything\Data\2020Spring\Datavis\data\datasets\weekly_call_data\weekdata_*"):
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)

all_data.describe()

          Unnamed: 0   CallDuration
count  129588.000000  129588.000000
mean      688.521476      12.517147
std       457.631443       6.925404
min         0.000000       1.000000
25%       311.000000       7.000000
50%       623.000000      13.000000
75%      1009.000000      19.000000
max      1944.000000      24.000000

In [35]:
all_data

,Unnamed: 0,CallingNumber,DayOfWeek,TimeOfDay,CallDuration,ReasonForCall,AnsweringAgent
0,0,774-823-8593,thu,10:30,20,Product Inquiry,Cameron
1,1,432-403-9821,fri,11:24,10,Complaint,Cameron
2,2,274-683-6814,tue,15:43,17,Technical Support,Kennedy
3,3,681-402-6913,tue,13:44,2,Technical Support,Lisa
4,4,242-336-6459,wed,10:50,19,Technical Support,Kennedy
...,...,...,...,...,...,...,...
129583,1177,420-535-7591,mon,09:34,23,Product Inquiry,David
129584,1178,351-682-2460,wed,10:11,9,Complaint,Maria
129585,1179,143-883-4281,wed,10:26,3,Technical Support,Lisa
129586,1180,847-303-7391,tue,14:28,24,Return,Roland
129587,1181,365-513-5324,mon,15:09,2,Product Inquiry,Kennedy